@model IEnumerable<Ankieter.Models.Survey>

@{
    ViewData["Title"] = "Ankiety";
}

<h1 class="mb-4">Lista ankiet</h1>

<p>
    @if (User.IsInRole("Ankieter"))
    {
    <p>
        <a asp-action="Create" class="btn btn-primary mb-3">
            Utwórz ankietę
        </a>
    </p>
}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @if (User.IsInRole("Ankieter"))
                    {
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-warning">
                            Edytuj
                        </a>
                    }

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-info">
                        Szczegóły
                    </a>

                    @if (User.IsInRole("Ankieter"))
                    {
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-danger">
                            Usuń
                        </a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
